*, *::before, *::after{
    box-sizing: border-box;
    font-family: "Arvo", serif;
    font-weight: normal;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(245,18,5,1) 0%, rgba(45,38,164,1) 100%);
    overflow: hidden;
}
.calculatorGrid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculatorGrid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255, 255, 0.75);
}
.calculatorGrid > button:hover{
    background-color: rgb(255, 255, 255, 0.9);
}
.calculatorGrid button:nth-child(17){
    border-radius: 0px 0px 0px 5px;
}
.spanTwo{
    grid-column: span 2;
}
.spanTwo:last-child{
    border-radius: 0px 0px 5px 0px;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 5px 5px 0px 0px;
}
.output .previousOperand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .currentOperand{
    color: white;
    font-size: 2.5rem;
}
@media only screen and (max-width: 400px){
    .calculatorGrid{
        margin: 10px;
        min-height: 100vh;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }
    .output .previousOperand{
        font-size: 1rem;
    }
    .output .currentOperand{
        font-size: 2rem;
    }
    .calculatorGrid > button{
        font-size: 1.3rem;
    }
}
